@using booking.Models
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var infoSetting = ViewBag.infosetting as Setting;
    ViewData["Title"] = "Home Page";
    List<Meal> meal = ViewBag.meal as List<Meal>;
    List<Categorymeal> category = ViewBag.category as List<Categorymeal>;
    List<Specialmeal> special_meal = ViewBag.special_meals as List<Specialmeal>;
    List<Post> post = ViewBag.post as List<Post>;
    List<Feedback> feedback = ViewBag.feedback as List<Feedback>;
    List<Photorestaurant> photo = ViewBag.photo as List<Photorestaurant>;
    List<Bookingtable> booking = ViewBag.booking as List<Bookingtable>;
}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Restaurantly</span></h1>
          <h2>Delivering great food for more than 18 years!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="assets/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Lorem Ipsum</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Repellat Nihil</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Ad ad velit qui</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>
        
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
                <li data-filter="*" class="filter-active">All</li>
                        @if (category != null)
                        {
                            @foreach (var item in category)
                            {
                                <li data-filter=".filter-@item.Name.ToLower()">@item.Name</li>
                            }
                        }
                    </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                @if (meal != null)
                {
                    @foreach (var item_meal in meal)
                    {
                        <div class="col-lg-6 menu-item filter-@item_meal.Cate.Name.ToLower()">
                            <img src="@item_meal.Img" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">@item_meal.Name</a><span>$@item_meal.Price</span>
                            </div>
                            <div class="menu-ingredients">
                                @item_meal.Intro
                            </div>
                        </div>
                    }
                }
        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
                @if (special_meal != null)
                {
                    Boolean isFirst = true;
                    @foreach (var item_special in special_meal)
                    {
                        @if (isFirst)
                        {
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-@item_special.Id">@item_special.meal.Name</a>
                            </li>
                            isFirst = false;
                        }
                        else
                        {
                            <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tab-@item_special.Id">@item_special.meal.Name</a>
                            </li>
                        }
                    }
                }
              
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
                @if (special_meal != null)
                {
                    Boolean isFirst = true;
                    @foreach (var item_special in special_meal)
                    {
                        @if (isFirst)
                        {
                            <div class="tab-pane active show" id="tab-@item_special.Id">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>@item_special.meal.Name</h3>
                                                <p class="fst-italic"> BRIEF INFORMATION </p>
                                        <p>@item_special.Detail</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="@item_special.Img" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            isFirst = false;
                        }
                        else
                        {
                            <div class="tab-pane" id="tab-@item_special.Id">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>@item_special.meal.Name</h3>
                                        <p class="fst-italic">  BRIEF INFORMATION </p>
                                        <p>@item_special.Detail</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="@item_special.Img" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="post" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Post</h2>
          <p>Something in our Restaurant</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            @if (post != null)
            {
              @foreach (var post_data in post)
              {
                <div class="swiper-slide">
                  <div class="row event-item">
                    <div class="col-lg-6 img-post" style="
                        justify-content: center;
                        align-items: center;
                        height: 25em;
                        max-height: 30em;
                        overflow: hidden;
                    ">
                        <img src="@post_data.Img" class="img-fluid" alt="" style="
                            height: 100%;
                            width: auto;
                            display: block;
                            margin: auto;
                        ">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                      <h3>@post_data.Title</h3>
                      <div class="price">
                        <p><span></span></p>
                      </div>
                      <p class="fst-italic">
                        @post_data.Brief
                      </p>
@*                       <ul>
                        <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                      </ul> *@
                      <p>
                        @post_data.Detail
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
               }
            }

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Table</p>
        </div>

        <form asp-controller="User" asp-action="booking" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" required id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" required id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="number" class="form-control" name="phone" required id="phone" placeholder="Your Phone" data-msg="Please enter your phone">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="date" name="date" class="form-control" required id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="time" class="form-control" name="time" required id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <div class="form-group">
                 <select class="selectpicker select-table " required name="tableNumber">
                    
                 </select>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            @if(feedback != null){
                @foreach (var fb in feedback)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          @fb.Detail
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="@fb.Img" class="testimonial-img" alt="">
                        <h3>@fb.Name</h3>
                        <h4>@fb.Jobs</h4>
                      </div>
                    </div><!-- End testimonial item -->
                }
            }

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our Restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            @if (photo != null)
            {
                @foreach (var img in photo)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="@img.Img" class="gallery-lightbox" data-gall="gallery-item">
                                <img src="@img.Img" alt="" class="img-fluid">
                            </a>
                    </div>
                </div>
                }
          }

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>@infoSetting.Location</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  @infoSetting.DayWork<br>
                  @infoSetting.OpenTime - @infoSetting.CloseTime
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>@infoSetting.Email</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>@infoSetting.Phone</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form asp-controller="Home" asp-action="createFeedback" method="post" role="form" class="php-email-form" id="feedbackForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="jobs" id="jobs" placeholder="Your Jobs" required>
                </div>
              </div>
               <div class="row">
                 <div class="col-md-6 form-group">
                   <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                 </div>
                 <div class="col-md-6 form-group mt-3 mt-md-0">
                   <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                 </div>
               </div>
               <div class="form-group mt-3 file-input-wrapper" style="position: relative;">
                  <input type="file" class="form-control" name="img" id="img">
                  <label for="img" class="custom-file-label" style="position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    padding: 0.375rem 0.75rem;
                    background-color:black;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;">May you upload your photo? please click here to upload. Thanks</label>
               </div>
               <div class="form-group mt-3">
                  <textarea class="form-control" id="feedback" name="feedback" rows="8" placeholder="Your feedback" required></textarea>
               </div>
               <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button id="button-feedback" type="submit">Give Feedback</button></div>
            </form>
            <div id="thankYouMessage" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); color: white; text-align: center; padding-top: 20%; font-size: 24px;">
                Thank you for your feedback!
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
@{
    var bookingListJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.booking);
}
<input type="hidden" id="bookingListJson" value='@Html.Raw(bookingListJson)' />
  <script src="~/js/Home/booking_table_script.js"></script>
  <script src="~/js/Home/give_feedback_script.js"></script>
  <script src="~/js/Home/change_text_upload_file_script.js"></script>
