
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Layout/_header.cshtml";
    List<Table> table_list =  TempData["listTable"] as List<Table>;
}

<main id="main" style="margin-top: 5em;">

    <!-- ======= About Section ======= -->
    <section id="about" class="about why-us">
        <div class="container" data-aos="fade-up">
            <div class="section-title row">
                <div class="col-lg-8 col-md-6">
                    <h2>Table Status</h2>
                </div>
                <div class="col-lg-4 col-md-6 search-box">
                    <form action="" method="post">
                        <input type="text" name="search"><input type="submit" value="Search">
                    </form>

                </div>
            </div>
            <div class="status-container">
                <div class="free-count">Free Tables: <span id="free-count">0</span></div>
                <div class="ordered-count">Ordered Tables: <span id="ordered-count">0</span></div>
            </div>
            <div class="row text-center mt-5">
                @if(table_list != null)
                {
                    @foreach(Table table in table_list)
                    {
                        var ordered = table.Ordered[0] == 1 ? "Ordered" : "Free";
                        @if (table.TypeTable.Seat == 2)
                        {
                            <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100" style="margin: 3rem">
                                <span class="chair top-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                                <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                                <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                                    <a asp-controller="Staff" asp-action="Details" asp-route-id="@table.Id">
                                        @if (ordered.Equals("Ordered"))
                                        {
                                            <span>@ordered</span>
                                            <p style="display:none" class="status"> @ordered </p>
                                        }
                                        else
                                        {
                                            <span>@table.TableName</span>
                                            <p class="status"> @ordered </p>
                                        }
                                    </a>
                                </div>
                                <span class="chair bottom-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                                <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                            </div>
                            @* <div class="col-1"></div>  *@
                        }
                        else
                        {
                            <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100" style="margin: 3rem">
                                <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                                <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                                <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                                    <a asp-controller="Staff" asp-action="Details" asp-route-id="@table.Id">
                                        @if (ordered.Equals("Ordered"))
                                        {
                                            <span>@ordered</span>
                                            <p style="display:none" class="status"> @ordered </p>
                                        }
                                        else
                                        {
                                            <span>@table.TableName</span>
                                            <p class="status"> @ordered </p>
                                        }
                                    </a>
                                </div>
                                <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                                <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                            </div>
                            @* <div class="col-1"></div> *@
                        }
                    }
                }
            </div>
        </div>
    </section><!-- End About Section -->
</main><!-- End #main -->
<script src="~/js/status_count.js"></script>