@using booking.Services
@{
    ViewData["Title"] = "Statistic";
    Layout = "~/Views/Layout/_header.cshtml";
    List<Table> table_list = ViewBag.table_list as List<Table>;
    List<Orderhistory> history_list = ViewBag.order_history as List<Orderhistory>;
    List<Total_Statistics> total_list = ViewBag.total as List<Total_Statistics>;
}

<main id="main">

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2></h2>
                <p>Statistic</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        @if(table_list != null)
                        {
                            @for(int i=0; i < table_list.Count; i++)
                            {
                                @if(i == 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-@table_list[i].Id">@table_list[i].TableName</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tab-@table_list[i].Id">@table_list[i].TableName</a>
                                    </li>
                                }
                                
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-total">table All</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        @if (table_list != null)
                        {
                            @for (int i = 0; i < table_list.Count; i++)
                            {
                                int count_history_row = 0;
                                @if (i == 0)
                                {
                                    <div class="tab-pane active show" id="tab-@table_list[i].Id">
                                        <div class="row table-section" id="section-@table_list[i].Id">
                                            <div id="detail-table-@table_list[i].Id" class="table-container active">
                                                <table class="table text-light">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Full Name <span class="sort" data-sort="name">▲</span></th>
                                                            <th scope="col">Email <span class="sort" data-sort="email">▲</span></th>
                                                            <th scope="col">Date <span class="sort" data-sort="date">▲</span></th>
                                                            <th scope="col">Time <span class="sort" data-sort="time">▲</span></th>
                                                            <th scope="col">Table <span class="sort" data-sort="table">▲</span></th>
                                                            <th scope="col">Price <span class="sort" data-sort="message">▲</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-group-divider">
                                                        @if (history_list != null)
                                                        {
                                                            
                                                            @for(int j = 0; j < history_list.Count; j++)
                                                            {
                                                                var list = @history_list[j].Ordertables.ToList();
                                                                if(list[0].TableId == table_list[i].Id){
                                                                    count_history_row = count_history_row + 1;
                                                                    <tr>
                                                                        <th scope="row">@count_history_row</th>
                                                                        <td><a asp-controller="Staff" asp-action="StatisticStableDetail">@history_list[j].Fullname</a></td>
                                                                        <td>@history_list[j].Email</td>
                                                                        <td> @history_list[j].getDate() </td>
                                                                        <td> @history_list[j].getTime() </td>
                                                                        <td>@table_list[i].TableName</td>
                                                                        <td>@history_list[j].TotalPrice</td>
                                                                    </tr>
                                                                }
                                                                
                                                            }
                                                        }
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane" id="tab-@table_list[i].Id">
                                        <div class="row table-section" id="section-@table_list[i].Id">
                                            <div id="detail-table-@table_list[i].Id" class="table-container active">
                                                <table class="table text-light">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Full Name <span class="sort" data-sort="name">▲</span></th>
                                                            <th scope="col">Email <span class="sort" data-sort="email">▲</span></th>
                                                            <th scope="col">Date Time <span class="sort" data-sort="date">▲</span></th>
                                                            <th scope="col">Time <span class="sort" data-sort="time">▲</span></th>
                                                            <th scope="col">Table <span class="sort" data-sort="table">▲</span></th>
                                                            <th scope="col">Price <span class="sort" data-sort="message">▲</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-group-divider">
                                                        @if (history_list != null)
                                                        {

                                                            @for (int j = 0; j < history_list.Count; j++)
                                                            {
                                                                var list = @history_list[j].Ordertables.ToList();
                                                                if (list[0].TableId == table_list[i].Id)
                                                                {
                                                                    count_history_row = count_history_row + 1;
                                                                    <tr>
                                                                        <th scope="row">@count_history_row</th>
                                                                        <td><a asp-controller="Staff" asp-action="StatisticStableDetail">@history_list[j].Fullname</a></td>
                                                                        <td>@history_list[j].Email</td>
                                                                        <td> @history_list[j].getDate() </td>
                                                                        <td> @history_list[j].getTime() </td>
                                                                        <td>@table_list[i].TableName</td>
                                                                        <td>@history_list[j].TotalPrice</td>
                                                                    </tr>
                                                                }

                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                }

                        }
                        }
                        
                        <div class="tab-pane" id="tab-total">
                            <div class="row">
                                <table class="table text-light">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">
                                                Date
                                                <span class="sort" data-sort="name">▲</span>
                                            </th>
                                            <th scope="col">
                                                Total Price
                                                <span class="sort" data-sort="email">▲</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        @if(total_list != null)
                                        {
                                            @foreach(Total_Statistics t in total_list)
                                            {
                                                double price = Math.Ceiling(@t.total * 100) / 100;
                                                <tr>
                                                    <th scope="row">@t.id</th>
                                                    <td>@t.date</td>
                                                    <td>$@price</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Specials Section -->
</main><!-- End #main -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const getCellValue = (row, index) => row.children[index].innerText || row.children[index].textContent;

        const comparer = (index, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, index), getCellValue(asc ? b : a, index));

        document.querySelectorAll('th .sort').forEach(function (header) {
            header.addEventListener('click', function () {
                const table = header.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(header.parentNode.parentNode.children).indexOf(header.parentNode), header.textContent === '▲'))
                    .forEach(tr => tbody.appendChild(tr));

                // Toggle sorting direction
                header.textContent = header.textContent === '▲' ? '▼' : '▲';
            });
        });
    });

</script>
@* <script>
    document.querySelectorAll('.table-section').forEach(section => {
        const detailButton = section.querySelector('[id^=show-detail]');
        const totalButton = section.querySelector('[id^=show-total]');
        const detailTable = section.querySelector('[id^=detail-table]');
        const totalTable = section.querySelector('[id^=total-table]');

        detailButton.addEventListener('click', function (event) {
            event.preventDefault();
            detailTable.classList.add('active');
            totalTable.classList.remove('active');
        });

        totalButton.addEventListener('click', function (event) {
            event.preventDefault();
            detailTable.classList.remove('active');
            totalTable.classList.add('active');
        });
    });
</script> *@
