@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layout/_AdminHeader.cshtml";
    Table table = TempData["table_result"] as Table;
    List<Tabletype> type_list = TempData["type_list"] as List<Tabletype>;
    List<Ordertable> order_list = TempData["orderList"] as List<Ordertable>;
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><a asp-controller="TableManage" asp-action="Index"><i class="bi bi-table"></i>Table List</a></li>
                <li>More Infor</li>
            </ul>
        </div>
        @if (table != null)
        {
            <div class="row">
                <!-- Your Profile Views Chart -->
                <div class="col-lg-12 m-b30">
                    <div class="widget-box">
                        <div class="wc-title">
                        </div>
                        <div class="widget-inner">
                            <form asp-controller="TableManage" asp-action="Edit" method="post" class="edit-profile m-b30">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="ml-auto">
                                            <h3>Basic info</h3>
                                        </div>
                                    </div>
                                    <input type="hidden" name="table_id" value="@table.Id" />
                                    <div class="form-group col-6">
                                        <label class="col-form-label">Table Name</label>
                                        <div>
                                            <input name="table_name" class="form-control" type="text" value="@table.TableName">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="">Table Seat</label>
                                        @if (type_list != null)
                                        {
                                            <select class="form-control" name="table_type" style="display: block !important;">
                                                @foreach (Tabletype type in type_list)
                                                {
                                                    @if (type.Id == @table.TypeTable.Id)
                                                    {
                                                        <option selected value="@type.Id">@type.Seat</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.Id">@type.Seat</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input readonly name="table_type" class="form-control" type="text" value="@table.TypeTable.Seat">
                                        }

                                    </div>
                                    <div class="form-group col-6">
                                        <label class="col-form-label">Create Date</label>
                                        <div>
                                            <input readonly class="form-control" type="text" value="@table.CreateDate">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="col-form-label">Update Date</label>
                                        <div>
                                            <input readonly class="form-control" type="text" value="@table.UpdateDate">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="col-form-label">Ordered?</label>
                                        <div>
                                            @{
                                                string ordered = table.Ordered[0] == 0 ? "Free" : "Ordered";
                                            }
                                            <input readonly class="form-control" type="text" value="@ordered">
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="col-form-label">Status</label>
                                        @{
                                            string status = table.Status[0] == 0 ? "Hide" : "displayed";
                                        }
                                        <div>
                                            <input readonly class="form-control" type="text" value="@status">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-outline-success">Save </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- Your Profile Views Chart END-->
            </div>
        }

    </div>
</main>
<main class="ttr-wrapper">
	<div class="container-fluid">
		<div class="row">
			<!-- Your Profile Views Chart -->
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="wc-title">
						<h4>Current Order</h4>
					</div>
					<div class="widget-inner">

                        <table class="table mb-0 table-center">
                            <thead>
                                <tr>
                                    <th class="border-bottom p-3" style="min-width: 20%;">Image</th>
                                    <th class="border-bottom p-3" style="min-width: 150px;">Name Meal</th>
                                    <th class="border-bottom p-3">Quantity</th>
                                    <th class="border-bottom p-3">Created at</th>
                                    <th class="border-bottom p-3">Update at</th>
                                    <th class="border-bottom p-3">Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (order_list != null)
                                {
                                    @foreach (Ordertable order in order_list)
                                    {
                                        <tr>
                                            <th class="p-3">
                                                <img style="width:30%;" src="@order.Meal.Img" alt=""/>
                                            </th>
                                            <td class="p-3">
                                                @order.Meal.Name
                                            </td>
                                            <td class="p-3">@order.Quantity</td>
                                            <td class="p-3">@order.CreateDate</td>
                                            <td class="p-3">@order.UpdateDate</td>
                                            <td class="p-3">@order.Price</td>
                                            
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

					</div>
				</div>
			</div>
			<!-- Your Profile Views Chart END-->
		</div>

	</div>
</main>
<style>
    .bootstrap-select{
        display: none !important;
    }
</style>